<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lietotāji</title>
</head>
<body>
    <h1>Visi lietotāji</h1>

    <a th:href="@{/add}"><button>Pievienot lietotāju</button></a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Darbības</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{'/edit/' + ${user.id}}"><button>Labot</button></a>
                <a th:href="@{'/delete/' + ${user.id}}"><button>Dzēst</button></a>
            </td>
        </tr>
    </table>
    
    <h1>Sveiki, <span th:text="${user.username}">Lietotājvārds</span>!</h1>
    <p>Tava loma sistēmā: <strong th:text="${user.role}">Loma</strong></p>
    
    <a href="/">Atpakaļ uz sākumu</a>
</body>
</html>