<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pievienot lietotāju</title>
</head>
<body>
    <h1>Pievienot lietotāju</h1>
    <form th:action="@{/insert}" th:object="${user}" method="post">
        Username: <input type="text" th:field="*{username}" /><br/>
        Password: <input type="text" th:field="*{password}" /><br/>
        E-mail: <input type="text" th:field="*{email}" /><br/>
        Role: <input type="text" th:field="*{role}" /><br/>
        Balance: <input type="number" th:field="*{balance}" /><br/>
        <button type="submit">Pievienot</button>
    </form>
    <a th:href="@{/}"><button>Atpakaļ</button></a>
</body>
</html>